# Python Strings

- Strings in python are surrounded by either single quotation marks, or double quotation marks.

In [1]:
print("Hello")
print('Hello')

Hello
Hello

In [2]:
print("He is called 'Johnny'")
print('He is called "Johnny"')

He is called 'Johnny'
He is called "Johnny"

In [3]:
a = """Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua."""
print(a)

Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.

In [4]:
a = '''Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.'''
print(a)

Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.

## Strings are Arrays

In [5]:
a = "Hello, World!"
print(a[1])

e

In [6]:
for x in "banana":
  print(x)

b
a
n
a
n
a

### Check String 
- To check if a certain phrase or character is present in a string, we can use the keyword in.

In [7]:
txt = "The best things in life are free!"
print("free" in txt)

True

In [8]:
txt = "The best things in life are free!"
print("expensive" not in txt)

True

## Slicing
- You can return a range of characters by using the slice syntax.

- Specify the start index and the end index, separated by a colon, to return a part of the string.

In [9]:
b = "Hello, World!"
print(b[2:5])

llo

In [10]:
b = "Hello, World!"
print(b[:5])

Hello

In [11]:
b = "Hello, World!"
print(b[:6])

Hello,

In [12]:
b = "Hello, World!"
print(b[2:])

llo, World!

### Negative Indexing
- Use negative indexes to start the slice from the end of the string:

In [13]:
b = "Hello, World!"
print(b[-5:-2])

orl

## Modify Strings

In [14]:
a = "Hello, World!"
print(a.upper())

HELLO, WORLD!

In [15]:
a = "Hello, World!"
print(a.lower())

hello, world!

In [16]:
a = " Hello, World! "
print(a.strip())
# The strip() method removes any whitespace from the beginning or the end:

Hello, World!

In [17]:
a = "Hello, World!"
print(a.replace("H", "J"))

Jello, World!

In [18]:
a = "Hello, World!"
print(a.split(","))

['Hello', ' World!']

### String Concatenation

In [19]:
a = "Hello"
b = "World"
c = a + b
print(c)

HelloWorld

In [20]:
a = "Hello"
b = "World"
c = a + " " + b
print(c)

Hello World

### String Format

In [21]:
age = 36
#This will produce an error:
txt = "My name is John, I am " + age
print(txt)

TypeError: can only concatenate str (not "int") to str

In [22]:
age = 36
#This will produce an error:
txt = "My name is John, I am " + {age}
print(txt)

TypeError: can only concatenate str (not "set") to str

In [23]:
age = 36
txt = f"My name is John, I am {age}"
print(txt)

My name is John, I am 36

### F-Strings
- To specify a string as an f-string, simply put an f in front of the string literal, and add curly brackets {} as placeholders for variables and other operations.

In [24]:
age = 36
txt = f"My name is John, I am {age}"
print(txt)

My name is John, I am 36

In [25]:
price = 59
txt = f"The price is {price:.2f} dollars"
print(txt)

The price is 59.00 dollars

In [26]:
txt = f"The price is {20 * 59} dollars"
print(txt)

The price is 1180 dollars

### Escape Character
- To insert characters that are illegal in a string, use an escape character.
- An escape character is a backslash \ followed by the character you want to insert.

In [27]:
txt = "We are the so-called "Vikings" from the north."

SyntaxError: invalid syntax (7934146.py, line 1)

In [28]:
txt = "We are the so-called \"Vikings\" from the north."
print(txt)

We are the so-called "Vikings" from the north.

#### Space characters
- "\'"	    Single Quote	
- "\\"	    Backslash	
- "\n"	    New Line	
- "\r"	    Carriage Return	
- "\t"	    Tab	
- "\b"	    Backspace	
- "\f"	    Form Feed	
- "\ooo"	Octal value	
- "\xhh"	Hex value

### String methods

capitalize()    Converts the first character to upper case.

casefold()      Converts string into lower case.

center()        Returns a centered string.

count()         Returns the number of times a specified value occurs in a string.

encode()        Returns an encoded version of the string.

endswith()      Returns True if the string ends with the specified value.

expandtabs()    Sets the tab size of the string.

find()          Searches the string for a specified value and returns the position of where it was found.

format()        Formats specified values in a string.

format_map()    Formats specified values in a string.

index()         Searches the string for a specified value and returns the position of where it was found.

isalnum()       Returns True if all characters in the string are alphanumeric.

isalpha()       Returns True if all characters in the string are in the alphabet.

isascii()       Returns True if all characters in the string are ascii characters.

isdecimal()     Returns True if all characters in the string are decimals.

isdigit()       Returns True if all characters in the string are digits.

isidentifier()  Returns True if the string is an identifier.

islower()       Returns True if all characters in the string are lower case.

isnumeric()     Returns True if all characters in the string are numeric.

isprintable()   Returns True if all characters in the string are printable.

isspace()       Returns True if all characters in the string are whitespaces.

istitle()       Returns True if the string follows the rules of a title.

isupper()       Returns True if all characters in the string are upper case.

join()          Joins the elements of an iterable to the end of the string.

ljust()         Returns a left justified version of the string.

lower()         Converts a string into lower case.

lstrip()        Returns a left trim version of the string.

maketrans()     Returns a translation table to be used in translations.

partition()     Returns a tuple where the string is parted into three parts.

replace()       Returns a string where a specified value is replaced with a specified value.

rfind()         Searches the string for a specified value and returns the last position of where it was found.

rindex()        Searches the string for a specified value and returns the last position of where it was found.

rjust()         Returns a right justified version of the string.

rpartition()    Returns a tuple where the string is parted into three parts.

rsplit()        Splits the string at the specified separator, and returns a list.

rstrip()        Returns a right trim version of the string.

split()         Splits the string at the specified separator, and returns a list.

splitlines()    Splits the string at line breaks and returns a list.


Sources